  .btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .btn--primary {
    background-color: var(--primary);
    border: 1px solid var(--primary);
  }
  
  .btn--outline {
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 1rem 4rem;
    border: 1px solid #f87e59;
    transition: all 0.3s ease-out;
    transform: translateY(300%);
  }

  .btn--outline:hover{
    background-color: #f87e59;    
  }
  
  .btn--medium {
    padding: 1rem 6rem;
    font-size: 1.2rem;
    background: #fff;
    border: hidden;
    margin-left: 41rem;
    margin-top: 5rem;
    border-radius: 0.3rem;

    animation-name: moveinLeft;
    animation-duration: 3s;
    backface-visibility: hidden;
  }

  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
    color: #8da3ec;
  }

  @keyframes moveinLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    70%{
        transform: translateX(20px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

