.Hero-container{
    background-image: linear-gradient(to right, rgba(26, 22, 22, 0.8), rgba(250, 143, 143, 0.5)), 	 url('../images/machine.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 55rem;
    width: 100%;
    object-fit: contain;
    margin-top: -10rem;
}

.Hero-container .Hero-Nash{
    color: #fff;
    font-size: 4.5rem;
    text-align: center;
    padding-top: 15rem;    

    animation-name: moveinLeft;
    animation-duration: 3s;
    backface-visibility: hidden;
}

.Hero-container h2{
    color: #fff;
    text-align: center;
    margin-top: 5rem;
    font-size: 3.5rem;

    animation-name: moveinRight;
    animation-duration: 3s;
    backface-visibility: hidden;
    
}

.arrow{
    color: #fff;
    font-size: 5rem;
    margin-left: 52.5rem;
    margin-top: 5rem;

    animation-name: moveinDown;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    backface-visibility: hidden;
}


@keyframes moveinLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    70%{
        transform: translateX(20px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveinRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    70%{
        transform: translateX(-20px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveinDown{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@media (max-width: 64em){
    .btn{
        margin-left: 23rem;
    }
}

@media (max-width: 48em){

    .fa-bars{
        color: #495057;
    }

    .btn{
        margin-left: 15rem;
    }
}

@media (max-width: 33.75em){

    .fa-bars{
        color: #495057;
    }

    .btn{
        margin-left: 8rem;
    }
}

@media (max-width: 25.875em){

    .fa-bars{
        color: #495057;
    }

    .btn{
        margin-left: 4rem;
    }
}

@media (max-width: 23.4375em){
    .Hero-container .Hero-Nash{
        font-size: 4rem;
    }

    .fa-bars{
        color: #495057;
    }

    .btn{
        margin-left: 3rem;
    }
}

@media (max-width: 22.5em){
    .btn{
        margin-left: 2.5rem;
    }
}

@media (max-width: 22.5em){

    .fa-bars{
        color: #495057;
    }

    .btn{
        margin-left: 2.5rem;
    }
}

@media (max-width: 20em){
    .Hero-container .Hero-Nash{
        font-size: 3.5rem;
    }

    .fa-bars{
        color: #495057;
    }


    .btn{
        margin-left: 1rem;
    }
}

@media (max-width: 17.5em){

    .Hero-container .Hero-Nash{
        font-size: 3rem;
    }

    .Hero-container h2{
        font-size: 3rem;
    }

    .navbar-logo{
        font-size: 2rem;
        margin-top: 0rem;
    }

    .fa-bars{
        color: #495057;
    }


    .btn {
        margin-left: 0.8rem;
    }

    .btn--medium{
        padding: 1rem 5rem;
    }
}

/* @media (max-width: ) {

    .Hero-container{
        height: 50rem;
    }

    .Hero-container .Hero-Nash{
        font-size: 3.5rem;
    }

    .Hero-container h2{
        font-size: 2.5rem;
    }

    .btn{
        margin-left: 2.5rem;
    }
} */