.Mission-Container{
    height: 40rem;
    background: url('../images/friends.jpg') center center/cover no-repeat;
    background-attachment: fixed;
    text-align: center;
    margin-top: -10rem;
}

.Mission-Container h1{
    color: #fff;
    transform: translateY(250%);
    font-size: 5rem;
}

.Mission-Container h2{
    color: #fff;
    transform: translateY(700%);
}

